

.color-pick{
    background-color: hsl(213, 96%, 18%);
    background-color: hsl(243, 100%, 62%);
    background-color: hsl(228, 100%, 84%);
    background-color: hsl(206, 94%, 87%);
    background-color: hsl(354, 84%, 57%);
    background-color: hsl(231, 11%, 63%);
    background-color: hsl(229, 24%, 87%);
    background-color: hsl(217, 100%, 97%);
    background-color: hsl(231, 100%, 99%);
    background-color: hsl(0, 0%, 100%);
}